<div class="w-full">
  <div class="flex flex-col p-4 space-y-6 w-full">
    <div
      class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:justify-between"
    >
      <div class="text-start">
        <span class="text-xl font-semibold">Gestion des comptes</span>
        <p class="text-gray-600">Administration suivi des comptes</p>
      </div>
      <div class="flex items-center md:space-x-4 space-x-0 justify-between">
        <button
          class="flex items-center gap-2 colorButton text-white px-4 py-2 rounded-xl hover:bg-green-700 transition"
          (click)="ajouterCompte()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 4v16m8-8H4"
            />
          </svg>
          Ajouter
        </button>
      </div>
    </div>

    <!-- Table -->
    <div class="overflow-x-auto bg-white rounded-xl shadow-md">
      <table class="min-w-full table-auto">
        <thead class="bg-orange-100 text-gray-700 text-sm font-semibold">
          <tr>
            <th class="px-4 py-3 text-left">Prénom</th>
            <th class="px-4 py-3 text-left">Nom</th>
            <th class="px-4 py-3 text-left">CNI</th>
            <th class="px-4 py-3 text-left">Téléphone</th>
            <th class="px-4 py-3 text-left">Date d'Ouverture</th>
            <th class="px-4 py-3 text-left">Statut</th>
            <th class="px-4 py-3 text-left">Bloque / Débloque</th>
            <th class="px-4 py-3 text-center">Options</th>
          </tr>
        </thead>
        <tbody class="text-sm text-gray-800 divide-y">
          @for (compte of comptes; track $index) {
          <tr>
            <td class="px-4 py-3">{{ compte.prenom }}</td>
            <td class="px-4 py-3">{{ compte.nom }}</td>
            <td class="px-4 py-3">{{ compte.cni }}</td>
            <td class="px-4 py-3">{{ compte.telephone }}</td>
            <td class="px-4 py-3">
              {{ compte.dateOuverture | date : "dd-MM-yyyy" }}
            </td>
            <td class="px-4 py-3">
              <span
                [class.text-green-600]="!compte.estBloque"
                [class.text-red-600]="compte.estBloque"
                class="font-medium"
              >
                {{ compte.estBloque ? "Bloqué" : "Actif" }}
              </span>
            </td>
            <td class="px-4 py-3">
              <label class="relative inline-flex items-center cursor-pointer">
                <input
                  type="checkbox"
                  class="sr-only peer"
                  (change)="toggleBloque(compte)"
                />
                <div
                  class="w-11 h-6 bg-gray-200 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-orange-600"
                ></div>
              </label>
            </td>
            <td class="px-4 py-3 flex items-center justify-center space-x-4">
              <span [routerLink]="['/comptes',compte.id]" routerLinkActive="router-link-active" 
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="currentColor" class="text-blue-600 cursor-pointer"
                >
                  <path
                    d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z"
                  />
                </svg>
              </span>
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="currentColor" class="text-green-600 cursor-pointer"
                >
                  <path
                    d="M280-120 80-320l200-200 57 56-104 104h607v80H233l104 104-57 56Zm400-320-57-56 104-104H120v-80h607L623-784l57-56 200 200-200 200Z"
                  />
                </svg>
              </span>

            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
